<!DOCTYPE html>
<html>
<head>
    <title>Secret</title>
    <meta charset="UTF-8">
    <style>
        body {
            background: #000;
            color: #0f0;
            font-family: monospace;
            text-align: center;
            padding: 50px;
        }
        p {
            font-size: 20px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <p>My name is Rudra. I think you don’t know…</p>
    <p>…but I’m just a page. I actually know nothing. Fuck You 🥷</p>
     <p class="footer-text text-center mb-0">© Created by RudraPrasad</p>
</body>
</html>
